################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.sln.docstates

/ipch
/ImgEditor.VC.VC.opendb
/ImgEditor.VC.db
/.vs

/Editor/Debug
/Editor/Debug DLL
/Editor/Release
/Editor/Release DLL
/Editor/x64/Debug
/Editor/x64/Debug DLL
/Editor/x64/Release
/Editor/x64/Release DLL

/TestEditor/Debug
/TestEditor/Debug DLL
/TestEditor/Release
/TestEditor/Release DLL
/TestEditor/x64/Debug
/TestEditor/x64/Debug DLL
/TestEditor/x64/Release
/TestEditor/x64/Release DLL



